body {
	width: 100%;
	margin: 0 auto;
	cursor: default;
}
.modal-dialog-centered {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	min-height: calc(100% - (30px * 2));
}
header {
	box-sizing: border-box;
	background-image: url('../img/header.jpg');
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	font-family: "RobotoRegular", sans-serif;
	max-width: 1600px;
	margin: auto;
	padding: 34px 14.4vw;
}
.header__top-line {
	margin-bottom: 72px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.top-line__logo {
	font-size: 40px;
	color: rgb(255,255,255);
	font-family: "RobotoBold", sans-serif;
}
.top-line__address {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}
.address__city {
	font-size: 16px;
	color: rgb(255,255,255);
	text-transform: uppercase;
	text-align: right;
}
.address__city .tab {
	cursor: pointer;
}
.address__city .active {
	text-decoration: underline;
}
.address__phone {
	font-size: 25px;
	color: rgb(255,255,255);
	font-weight: bold;
	text-align: end;
}
.tab-item:last-child {
	display: none;
}
header h1{
	margin: 0;
	padding: 0;
	font-size: 39px;
	color: rgb(255,255,255);
	font-family: "RobotoRegular", sans-serif;
	font-weight: bold;
	margin-bottom: 15px;
}
header h2{
	padding: 0;
	margin: 0;
	font-size: 30px;
	color: #ffffff;
	font-family: "CleanvertisingLight", sans-serif;
	margin-bottom: 47px;
	margin-top: 15px;
}
.discounts__tab-titles {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-start;
}
.discounts__tab-titles--item {
	font-size: 16px;
	color: #fff;
	font-family: "RobotoBold", sans-serif;
	text-transform: uppercase;
	height: 55px;
	background-color: rgba(255,255,255,0.25);
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	padding: 0 1.2vw;
	cursor: pointer;
}
.discounts__tab-titles--item.active {
	color: rgb(0,0,0);
	background-color: rgba(255,255,255,0.6);
	-webkit-transition: all 0.25s linear;
	-o-transition: all 0.25s linear;
	transition: all 0.25s linear;
}
.discounts__content {
	max-width: 585px;
	padding: 25px;
	background-color: rgba(255,255,255,0.6);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	box-shadow: -5px 10px 20px rgba(0,0,0,0.3);
}
.discounts__content--wrap:not(:first-child) {
	display: none;
}
.discounts__content--wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}
.discounts__content--row {
	text-transform: uppercase;
	font-size: 18px;
	color: rgb(0,0,0);
	font-family: "RobotoBold", sans-serif;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin: 9px 0;
}
.discounts__content--row .img-wrap {
	height: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	margin-right: 15px;
	min-width: 32px;
	justify-content: center;
}
.discounts__content>button {
	-ms-align-self: flex-end;
	align-self: flex-end;
	max-width: 220px;
	height: 47px;
	background: radial-gradient(farthest-side ellipse at top right, #c71e1e, #9b1717);
	box-shadow: -5px 10px 20px rgba(0,0,0,0.3);
	border: none;
	font-size: 16px;
	color: rgb(255,255,255);
	font-family: "RobotoBold", sans-serif;
	border-radius: 3px;
	padding: 0 1.9vw;
	cursor: pointer;
}
.discounts__content>button:hover {
	box-shadow: 0 0 10px 3px rgba(255,255,255,0.5);
}
.discounts__content>button:active {
	background: none;
	box-shadow: none;
	background-color: #701111;
}
.teasers {
	max-width: 1600px;
	margin: auto;
	min-height: 147px;
	background: linear-gradient(#c8d9ee, #e7eef7);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-background-size: cover;
	background-size: cover;
}
.teaser__items_wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	flex-grow: 1;
	justify-content: space-around;
}
.teaser__item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: flex-end;
	align-items: flex-end;
	margin: 36px 0.9vw;
}
.teaser__item .item__txt {
	color: #003469;
	font-family: "CleanvertisingLight", sans-serif;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	justify-content: center;
	margin-left: 15px;
}
.teaser__items_wrap:nth-child(1) .teaser__item:nth-child(1) .txt--row:nth-child(1) {
	font-size: 19px;
}
.teaser__items_wrap:nth-child(1) .teaser__item:nth-child(1) .txt--row:nth-child(2) {
	font-size: 25px;
}
.teaser__item .txt--row:nth-child(1) {
	font-size: 13px;
}
.teaser__item .txt--row:nth-child(2) {
	font-size: 22px;
}
span.item__drop_cap {
	font-size: 75px;
	color: #003469;
	font-family: "RobotoRegular", sans-serif;
	letter-spacing: -12px;
	line-height: 75px;
	padding-right: 12px;
}
div.item__drop_cap {
	height: 75px;
	width: 75px;
	background-image: url(../img/teaser--iconset.png);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position-x: 2px;
}
.teaser__items_wrap:nth-child(2) .teaser__item:nth-child(1) .item__drop_cap {
	background-position-x: -315px;
}
.teaser__items_wrap:nth-child(2) .teaser__item:nth-child(2) .item__drop_cap {
	height: 75px;
	background: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: flex-end;
	align-items: flex-end;
}
.benefits {
	max-width: 1600px;
	margin: auto;
	padding: 4.1vw 0;
	box-sizing: border-box;
}
.benefits__title {
	padding: 0;
	margin: 0;
	font-size: 50px;
	color: rgb(0,52,105);
	font-family: "CleanvertisingLight", sans-serif;
	font-weight: normal;
	text-align: center;
	margin-bottom: 3.1vw;
}
.benefits__body {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.benefits__items--wrap {
	max-width: 730px;
	margin: 0 15px;
}
.benefits__item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin: 30px 0;
	-ms-align-items: center;
	align-items: center;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-around;
}
.benefits__item--txt {
	margin-left: 2.1vw;
	max-width: 570px;
}
.benefits__item--txt h3 {
	padding: 0;
	margin: 0;
	font-weight: normal;
	font-size: 30px;
	color: rgb(155,24,24);
	font-family: "RobotoRegular", sans-serif;
}
.benefits__item--txt p {
	padding: 0;
	margin: 0;
	font-family: "RobotoRegular", sans-serif;
	color: #333333;
}
.benefits__item img {
	max-width: 100px;
	max-height: 100px;
}
form {
	background-color: #f7f7f7;
	box-sizing: border-box;
	padding: 35px 30px 50px;
	border: #67bc5c solid 5px;
	border-radius: 5px;
	margin: 0 15px;
}
.form__title {
	font-weight: bold;
	font-size: 22px;
	color: rgb(68,68,68);
	font-family: "RobotoRegular", sans-serif;
	text-align: center;
}
form .label__title {
	font-size: 14px;
	color: rgb(102,102,102);
	font-family: "RobotoRegular", sans-serif;
	margin: 17px 5px 9px;
}
form input[type=text] {
	text-indent: 15px;
}
form input[type=text]:focus {
	box-shadow: #67bc5c 0 0 0 3px;
	border-radius: 3px;
}
form input[type=text]:focus:invalid {
	box-shadow: rgb(155,24,24) 0 0 0 3px;
	border-radius: 3px;
}
select[name=city] {
	text-indent: 6px;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-image: url(../img/arrow--select.png);
	background-repeat: no-repeat;
	background-position: center right;
}
form input[type=text],
select[name=city] {
	width: 100%;
	font-size: 20px;
	line-height: 42px;
	color: rgb(102,102,102);
	font-family: "RobotoRegular", sans-serif;
	border: solid 1px #e1e1e1;
	box-shadow:  0 0 21px rgba(0,0,0,.06) inset;
	height: 42px;
}
select[name=city] {
	height: 46px;
}
form button {
	height: 47px;
	background-color: #67bc5c;
	border: none;
	font-size: 16px;
	color: rgb(255,255,255);
	font-family: "RobotoBold", sans-serif;
	border-radius: 3px;
	cursor: pointer;
	text-transform: uppercase;
	display: block;
	width: 100%;
	margin: auto;
	margin-top: 35px;
}
form button:hover {
	box-shadow: 0 0 10px 3px rgba(134,204,126,0.5);
}
form button:active {
	background-color: #4ba341;
}
.feedback {
	max-width: 1600px;
	margin: auto;
}
.feedback__body {
	background-image: url(../img/feedback.jpg);
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	padding: 65px 0;
	background-color: #8b161b;
}
.feedback__body--title {
	padding: 0;
	margin: 0;
	font-size: 50px;
	color: rgb(255,255,255);
	font-family: "CleanvertisingLight", sans-serif;
	text-align: center;
	margin-bottom: 80px;
	line-height: normal;
}
.carousel-item>img {
    object-fit: cover;
    width: 165px;
    height: 165px;
    border: 10px solid #6a6a6a;
    box-sizing: content-box;
    box-shadow: -5px 10px 20px rgba(0,0,0,0.3);
}
.feedback__carousel--caption>span {
	font-size: 22px;
	color: rgb(255,255,255);
	font-family: "Times New Roman";
	font-style: italic;
	margin: 23px 0;
}
.feedback__carousel--caption p {
	padding: 0;
	margin: 0;
	margin-top: 30px;
	font-size: 15px;
	color: rgb(255,255,255);
	font-family: "RobotoRegular";
	text-align: center;
}
#feedbackCarousel {
	max-width: 1140px;
}
.feedback__footer {
	background-image: url(../img/feedback__footer--bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	padding: 30px 0;
}
.feedback__footer--title {
	text-transform: uppercase;
	font-size: 26px;
	color: rgb(255,255,255);
	font-family: "RobotoRegular";
	max-width: 1100px;
	margin: 0 auto;
	background-color: rgba(255,255,255,0.1);
}
.feedback__footer--button {
	height: 47px;
	background-color: #fff;
	border: none;
	font-size: 16px;
	color: rgb(0,0,0);
	font-family: "RobotoBold";
	border-radius: 3px;
	cursor: pointer;
	text-transform: uppercase;
	display: block;
	width: 220px;
	margin: auto;
	margin-top: 35px;
	box-shadow: -5px 10px 20px rgba(0,0,0,0.3);
}
.feedback__footer--button:hover {
	box-shadow: 0 0 10px 3px rgba(255,255,255,0.5);
}
.feedback__footer--button:active {
	background-color: #cccccc;
}
.map__title {
	margin: 35px 0;
}
.map__title>h2 {
	margin: 0;
	padding: 0;
	font-size: 50px;
	color: rgb(17,17,17);
	font-family: "CleanvertisingLight";
	margin-right: 0.9vw;
}
.map__tabs {
	margin-left: 0.9vw;
	border: #9b1818 5px solid;
	border-radius: 3px;
	cursor: pointer;
}
.maps__tabs--item {
	text-transform: uppercase;
	font-size: 16px;
	line-height: 37px;
	color: rgb(109,10,10);
	font-family: "RobotoBold";
	height: 37px;
	padding: 0 4.1vw;
}
.maps__tabs--item.active {
	color: #fff;
	background-color: #9b1818;
}
.map__window {
	max-width: 1600px;
	margin: auto;
}
.map__window--item:not(:first-child) {
	display: none;
}
.title__address--wrap {
	margin-top: 15px;
}
.map__title--address:not(:first-child) {
	display: none;
}
.map__window--wrap {
	margin: 15px 0;
	background-color: #e1d5af;
}
.map__title--address {
	font-size: 18px;
	line-height: 24px;
	color: rgb(51,51,51);
	font-family: "RobotoRegular";
}
footer {
	padding-top: 90px;
	padding-bottom: 190px;
}
footer h2 {
	font-size: 50px;
	line-height: 56px;
	color: rgb(0,0,0);
	font-family: "CleanvertisingLight";
}
.footer__txt {
	font-size: 18px;
	line-height: 24px;
	color: rgb(51,51,51);
	font-family: "RobotoRegular";
	margin: 45px 0;
}
.footer__address .address__city,
.footer__address .address__phone {
	color: rgb(155,24,24);
	font-family: "RobotoRegular";
}
.footer__address .address__phone {
	font-size: 32px;

}
footer button {
	height: 47px;
	background-color: #9b1818;
	border: none;
	font-size: 16px;
	margin-top: 45px;
	color: rgb(255,255,255);
	font-family: "RobotoBold", sans-serif;
	border-radius: 3px;
	cursor: pointer;
	text-transform: uppercase;
	width: 220px;
	background: radial-gradient(farthest-side ellipse at top right, #c71e1e, #9b1717);
	box-shadow: -5px 10px 20px rgba(0,0,0,0.3);
	cursor: pointer;
}
footer button:hover {
	box-shadow: 0 0 10px 3px rgba(155,24,24,0.5);
}
footer button:active {
	background: none;
	box-shadow: none;
	background-color: #701111;
}