body {
	width: 100%;
	margin: 0 auto;
}
header {
	box-sizing: border-box;
	background-image: url('../img/header.jpg');
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	font-family: "RobotoRegular", sans-serif;
	max-width: 1600px;
	margin: auto;
	padding: 34px 14.4vw;
}
.header__top-line {
	margin-bottom: 72px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.top-line__logo {
	font-size: 40px;
	color: rgb(255,255,255);
	font-family: "RobotoBold", sans-serif;
}
.top-line__address {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}
.address__city {
	font-size: 16px;
	color: rgb(255,255,255);
	text-transform: uppercase;
	text-align: right;
}
.address__city .tab {
	cursor: pointer;
}
.address__city .active {
	text-decoration: underline;
}
.address__phone {
	font-size: 25px;
	color: rgb(255,255,255);
	font-weight: bold;
	text-align: end;
}
.tab-item:last-child {
	display: none;
}
header h1{
	margin: 0;
	padding: 0;
	font-size: 39px;
	color: rgb(255,255,255);
	font-family: "RobotoRegular", sans-serif;
	font-weight: bold;
}
header h2{
	padding: 0;
	margin: 0;
	font-size: 30px;
	color: #ffffff;
	font-family: "CleanvertisingLight", sans-serif;
	margin-bottom: 47px;
}
.discounts__tab-titles {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-start;
}
.discounts__tab-titles--item {
	font-size: 16px;
	color: #fff;
	font-family: "RobotoBold", sans-serif;
	text-transform: uppercase;
	height: 55px;
	background-color: rgba(255,255,255,0.25);
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	padding: 0 1.2vw;
	cursor: pointer;
}
.discounts__tab-titles--item.active {
	color: rgb(0,0,0);
	background-color: rgba(255,255,255,0.6);
	-webkit-transition: all 0.25s linear;
	-o-transition: all 0.25s linear;
	transition: all 0.25s linear;
}
.discounts__content {
	max-width: 585px;
	padding: 25px;
	background-color: rgba(255,255,255,0.6);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	box-shadow: -5px 10px 20px rgba(0,0,0,0.3);
}
.discounts__content--wrap:not(:first-child) {
	display: none;
}
.discounts__content--wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}
.discounts__content--row {
	text-transform: uppercase;
	font-size: 18px;
	color: rgb(0,0,0);
	font-family: "RobotoBold", sans-serif;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin: 9px 0;
}
.discounts__content--row .img-wrap {
	height: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	margin-right: 15px;
	width: 32px;
	justify-content: center;
}
.discounts__content input[type=button] {
	-ms-align-self: flex-end;
	align-self: flex-end;
	max-width: 220px;
	height: 47px;
	background: radial-gradient(farthest-side ellipse at top right, #c71e1e, #9b1717);
	box-shadow: -5px 10px 20px rgba(0,0,0,0.3);
	border: none;
	font-size: 16px;
	color: rgb(255,255,255);
	font-family: "RobotoBold", sans-serif;
	border-radius: 3px;
	padding: 0 2.2vw;
	cursor: pointer;
}
.discounts__content input[type=button]:hover {
	box-shadow: 0 0 10px 3px rgba(255,255,255,0.5);
}
.discounts__content input[type=button]:active {
	background: none;
	box-shadow: none;
	background-color: #701111;
}
.teasers {
	max-width: 1600px;
	margin: auto;
	min-height: 147px;
	background: linear-gradient(#c8d9ee, #e7eef7);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-background-size: cover;
	background-size: cover;
}
.teaser__items_wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	flex-grow: 1;
	justify-content: space-around;
}
.teaser__item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: flex-end;
	align-items: flex-end;
	margin: 36px 0.9vw;
}
.teaser__item .item__txt {
	color: #003469;
	font-family: "CleanvertisingLight", sans-serif;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	justify-content: center;
	margin-left: 15px;
}
.teaser__items_wrap:nth-child(1) .teaser__item:nth-child(1) .txt--row:nth-child(1) {
	font-size: 19px;
}
.teaser__items_wrap:nth-child(1) .teaser__item:nth-child(1) .txt--row:nth-child(2) {
	font-size: 25px;
}
.teaser__item .txt--row:nth-child(1) {
	font-size: 13px;
}
.teaser__item .txt--row:nth-child(2) {
	font-size: 22px;
}
span.item__drop_cap {
	font-size: 75px;
	color: #003469;
	font-family: "RobotoRegular", sans-serif;
	letter-spacing: -12px;
	line-height: 75px;
	padding-right: 12px;
}
div.item__drop_cap {
	height: 75px;
	width: 75px;
	background-image: url(../img/teaser--iconset.png);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position-x: 2px;
}
.teaser__items_wrap:nth-child(2) .teaser__item:nth-child(1) .item__drop_cap {
	background-position-x: -315px;
}
.teaser__items_wrap:nth-child(2) .teaser__item:nth-child(2) .item__drop_cap {
	height: 75px;
	background: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: flex-end;
	align-items: flex-end;
}
.benefits {
	max-width: 1065.77px;
	margin: auto;
	padding: 65px 14.4vw;
}
.benefits__title {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	font-size: 50px;
	color: rgb(0,52,105);
	font-family: "CleanvertisingLight", sans-serif;
}